<!DOCTYPE html>
<html>
    <head>
        <title>ZenBook</title>
        
        {{> page_settings }}
        {{> imports_css }}
    </head>
    <body>
        {{> navbar}}

        <div class="container">
            <div class="row">
                <div class="col">
                    
                    <div class="card person-card">
                        <div class="card-body">
                            <h5 class="card-title">John Doe</h5>
                            <p class="card-text">Software engineer at Company Inc.</p>
                            <a href="#" class="btn btn-primary">Generate vCard</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        {{> imports_js }}
    </body>
</html>